.clear-btn {
    height: 40px;
    padding: 5px;
    margin-left: auto;
    outline: none;
    border: 2px solid #5f5555;
    background: #ef626c;
    color: #fefefe;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.clear-btn:hover {
    background: #f13542;
}

.transaction-list {
    margin: 25px 0;
    list-style-type: none;
}

.transaction-list li {
    width: 100%;
    padding: 10px 5px;
    border: 2px solid #457b9d;
    transition: background .2s ease-out;
    display: flex;
    flex-direction: column;
}

.transaction-list .delete-cross {
    float: right;
    clear: both;
    padding: 0 10px;
    color: #ef626c;
    font-weight: bolder;
    transition: color .3s ease-out;
}

.transaction-name {
    font-weight: bolder;
    padding: 0 0 10px;
    text-transform: uppercase;
}

.transaction-list li:hover .delete-cross {
    color: #fff;
}

.transaction-list li:not(:last-child) {
    border-bottom: none;
}

.transaction-list li:hover {
    background: #457b9d;
    cursor: pointer;
    color: #fefefe;
}

.transaction-list ~ span {
    color: #5f5555;
    font-size: 1.2em;
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 1.5em;
}

.top-transaction-wrapper {
    margin: 25px 0;
    border-top: 2px dashed #457b9d;
    border-bottom: 2px dashed #457b9d;
    padding: 15px 0;  
    line-height: 25px;
}

h3 {
    margin: 35px 0 15px;
}

.underline {
    border-color: #ef626c;
    color: #ef626c;
    margin: 50px 0 10px;
}