.transaction-list {
    margin-top: 50px;
    list-style-type: none;
}

.transaction-list li {
    padding: 10px 5px;
    border: 2px solid #5f5555;
    transition: background .2s ease-out;
}

.transaction-list li:hover {
    background: #ada6a6;
    cursor: pointer;
    color: #fefefe;
}

.top-transaction-wrapper {
    margin: 25px 0;
    border-top: 2px dashed #333;
    border-bottom: 2px dashed #333;
    padding: 15px 0;  
    line-height: 25px;
}

h3 {
    margin-top: 35px;
}