h2 {
    letter-spacing: 2px;
}

.eur-input {
    display: inline-flex;
    width: 50px;
    height: 50px;
    position: relative;
    margin-top: 50px;
}

.eur-input input {
    border: none;
    outline: none;
    border-bottom: 2px solid #333;
    padding: 3px;
    margin-left: 15px;
    font-size: 1.2em;
    max-width: 180px;
}

.eur-input input::placeholder {
    letter-spacing: 1px;
}

.eur-input input:focus ~ img {
    position: absolute;
    width: 30px;
    height: 30px;
    color: blue;
}

.transaction-content {
    margin-top: 50px;
}

.transaction-content form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.transaction-content label {
    margin: 15px 0 0;
}

.transaction-content input {
    padding-bottom: 3px;
    border: none;
    border-bottom: 2px solid #333;
    padding: 0 3px 5px;
    /*width: 50px;*/
}

.exchange-box {
    display: flex;
    margin-top: 25px;
    /*justify-content: space-between;*/
}

.exchange-box div {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.exchange-box label {
    /*border: 1px solid #333;*/
    height: 100%;
    margin-top: 0;
    line-height: 50px;
    padding-right: 10px;
    position: absolute;
    pointer-events: none;
    left: 0;
}

.exchange-box input {
    width: 50px;
}

.exchange-box input:focus ~ label,
.exchange-box input:focus ~ valid {
    font-size: 12px;
    top: -25px;
} 

.exchange-box img {
    width: 50px;
    margin: 0 15px;
}

/* media queries */

@media (max-width: 768px) {
    .eur-input input {
        max-width: 150px;
        font-size: 0.9em;
    }
    
    .eur-input input::placeholder {
        letter-spacing: normal;
    }
}