.top-header {
    background: #e8e8e8 ;
    padding: 15px 15px 25px 15px;
    border-radius: 6px;
}

.app-title {
    width: 185px;
    margin: 10px 0; 
    border-right: 3px solid #333;
    padding-right: 0;
    letter-spacing: 1px;
}

.app-title span {
    color: #ef626c;
}

.top-header {
    margin-top: 40px;
    border: 2px solid #5f5555;
}

.top-header > p {
    letter-spacing: 2px;
}

.eur-input {
    display: inline-flex;
    width: 50px;
    height: 50px;
    position: relative;
    margin-top: 20px;
}

.eur-input input {
    border: none;
    outline: none;
    border-bottom: 2px solid #457b9d;
    padding: 3px;
    margin-left: 15px;
    font-size: 1.2em;
    max-width: 180px;
    background: transparent;
}

.eur-input img {
    max-width: 50px;
}

.eur-input input::placeholder {
    letter-spacing: 1px;
}

.eur-input input:focus ~ img {
    position: absolute;
    width: 30px;
    height: 30px;
    color: blue;
}

.transaction-content {
    margin-top: 40px;
}

.transaction-content form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.transaction-content label {
    margin: 15px 0 0;
}

.transaction-content input {
    border: none;
    border-bottom: 2px solid #457b9d;
    padding: 5px 3px;
    font-size: 1.1em;
}

.exchange-box {
    display: flex;
    margin-top: 25px;
    flex-wrap: wrap;
}

.exchange-box__currencies {
    height: 50px;   
}

.exchange-box div {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.exchange-box label {
    height: 100%;
    margin-top: 0;
    padding-right: 10px;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: -10px;
}

.exchange-box input {
    width: 100%;
    max-width: 120px;
    line-height: 25px;
}

.exchange-box input:disabled {
    background: none;
}

.exchange-box img {
    width: 50px;
    margin: 0 15px;
}

.exchange-box button {
    width: 100px;
    height: 50px;
    margin-left: auto;
    outline: none;
    border-radius: none;
    border: none;
    background: #ef626c;
    color: #fefefe;
    letter-spacing: 1px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background .3s ease-out;
}

.exchange-box button:hover {
    background: #f55536;
}

input:required,
input:invalid,
input:focus {
    outline: none;
    box-shadow: none;
}

/* media queries */

@media (max-width: 575.98px) {
    .eur-input {
        margin-top: 20px; 
    }
    
    .eur-input input {
        max-width: 100px;
        font-size: 0.8em;
    }
    
    .eur-input input::placeholder {
        letter-spacing: normal;
    }
    
    .exchange-box button {
        width: 100%;
        margin: 25px auto 0;
    }
}