*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Robot', sans-serif;
    color: #5f5555;
}

.app-container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}